<% provide(:title, "About") %>
<h1>Theme wordsについて</h1>
<p>
「語学勉強者」と「写真やイラストのお題が見つからない方々」の悩みを解決するアプリです。<br>
語学の勉強にイメージで覚えることは重要です。<br>
そのイメージを写真やイラストで表現していただきたいのです。<br>
よりインパクトのあるイメージであれば、より人の記憶に残ります。
</p>
